body {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    max-width: 500px;
    padding: 30px;
    border:4px solid rebeccapurple;
} 

input[type="text"] {
    max-width: 750px;
    padding: 3px;
    border: 1px solid black;
}

button[type="submit"] {
    max-width:500px;
    padding: 2px;
}